.App {
  text-align: center;
  background-color: #222;
  color: white;
 overflow: hidden;
}
body{
  background-color: #222 !important;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #ffffff;
  color: #00bc8c;
}audio::-webkit-media-controls-play-button{
 color:#00bc8c !important
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #282c34;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pagination{
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
ul,li {
  flex: auto;
  text-align: center;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: #00bc8c;
  border: 0 solid transparent;
}
.random-bird {
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
}
.rounded {
  border-radius: 0.25rem !important;
}
.bird-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin: 0;
}
.bird-small-image{
  width: 15vw;
  height: 11vw;
  border-radius: 10px;
  margin: 0;
}
audio{
  width: -webkit-fill-available;
}
.main-Bird{
  width: 100%;
}
li.correct{
  background-color: #26a69a !important;
}
li.incorrect{
  background-color: #d37b6c !important;
}
.description-block{
  min-height: 274px !important;
  height: 100%;
}
.pic-name {
  margin-top: 10px;
  margin-bottom: 0 !important;
 }
@media screen and (max-width: 880px) {
  .bird-small-image {
    width: 16vw;
    height: 15vw;
}
}
@media screen and (max-width: 690px) {
  .pic-name {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .picBlock{
    min-width: 160px;
    width: 100%;
    margin-left: 0 !important;
  }
  .nameBlock{
    min-width: 160px;
    width: 100%;
    margin-left: 0 !important;
  }
  .bird-small-image{
    width: 22vw;
    height: 20vw;
  }
  .answer-description{
    display: flex;
    flex-wrap: wrap;
  }
  .answers-block{
    min-width: 270px;
    width: 85vw !important;
    margin: 0 auto;
  }
  .description-block{
    min-width: 270px;
    width: 85vw !important;
    margin: 5px auto;
  }
}
@media screen and (max-width: 550px) {
  .random-bird{
    flex-wrap: wrap;
  }
  .bird-image{
    margin: 0 auto;
  }
  .bird-small-image {
    width: 34vw;
    height: 24vw;
}
.picBlock{
  width: 100% !important;
}
.nameBlock{
  width: 100% !important;
}
  
}
@media screen and (max-width: 370px) {
   .bird-small-image {
    width: 40vw;
    height: 35vw;
}
  
}